
body {
  font-family: sans-serif;
  // background: red;
}

.character-list {
  display: flex;
  flex-direction: column;
  // border: 1px solid grey;
  max-width: 300px;
  margin: 0 auto;
}

.character {
  border: 1px solid red;
  padding: 10px;
  justify-content: center;
  & + & {
    margin-top: 15px;
  }
}

.character__image {
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
}

.character__name {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.character__status {
  font-size: 14px;
  color: lightgrey;
  text-align: left;
}